#container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#container .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container .content main .top-details{
    display: flex;

    margin-bottom: 30px;

    padding: 30px;

    background: var(--color-white);
    border-radius: 10px;

}

#container .content main .top-details img{
    max-width: 373px;
    width: 100%;
    height: 558px;
    object-fit: cover;
}

#container .content main .top-details .details{
    min-width: 300px;
    min-height: 558px;
    margin-left: 40px;
    padding: 10px;
    
    border-left: solid 1px var(--color-dark-green);
}

#container .content main .top-details .details .extra-details{
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px var(--color-dark-green);
}

#container .content main .top-details .details .extra-details section{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
}


#container .content main .top-details .details .extra-details section .buttons button{
    background: none;
    border: none;
    margin: 0 5px;
}

#container .content main .top-details .details .extra-details .description{
    margin-bottom: 40px;
}

#container .content main .top-details .details .extra-details a{
    margin-top: 30px;
    width: auto;
    height: 30px;

    padding: 10px;

    background: var(--color-ligth-green);
    color: var(--color-white);

    font: 700 16px Roboto;
    text-decoration: none;

    border-radius: 5px;
}

#container .content main .bot-details{
    width: 100%;
    justify-content: space-between;

    padding: 30px;

    background: var(--color-white);
    border-radius: 10px;
}

#container .content main .bot-details .top-table{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#container .content main .bot-details table {
    min-width: 900px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#container .content main .bot-details table tr {
    height: 30px;
    color: var(--color-dark-green);
    font-size: 16px;
    line-height: 19px;
    border-bottom: 1.5px solid var(--color-dark-green);
}

#container .content main .bot-details table th,
td {
  padding: 12px 15px;
}
  
